body {
  margin: 0;
  font-family: 'Bangers', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #141B41;
  /* background: url('https://product-images.tcgplayer.com/520352.jpg') no-repeat center center fixed; */
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-content {
  background: rgb(0 0 0 / 0%);
  border: 0px;
}

.modal-header {
  border: 0px;
  height: 0px;
  padding: 0px;
}
.btn-close {
  color: #fff;
}

.opponent-hand {
  display: flex;
  flex-wrap: nowrap;
  line-content: center;
}
.opponent-bench{
  transform: translate(0px, -8vh);
}

.actives {
  transform: translate(0px, -4vh);
}
.title {
  font-size: xx-large;
}



.btn {
  font-size: xx-large;
  align-self: center;
}
.myButton {
  height: fit-content;
  width: fit-content;
  font-size: xx-large;
  align-self: center;
}

.start-button {
  background-color: rgb(0 0 0 / 0%);
  border: none;
}
.start-button:hover {
  background-color: rgb(0 0 0 / 0%);
  border: none;
}
.start-button:active {
  background-color: rgb(0 0 0 / 0%) !important;
  border: none;
}
.cardModal {
  overflow: scroll;
  align-content: center;
}

.modal-body {
  width: 40vw;
  align-items: center;
}

.start-button-text {
  font-size: 10rem;
  margin: 100px;
  color: #ffcc00;
  text-decoration-line: none;
  -webkit-text-stroke: 5px #0072bb;
}


.start-button-text:hover {
  font-size: 10rem;
  color: #ffd634;
  text-decoration-line: none;
  transform:translate(100px 0px 0px 0px);
  -webkit-text-stroke: 5px #0072bb;
}

.start-button-text:active {
  font-size: 10rem;
  color: #f9c804;
  text-decoration-line: none;
  transform: translate(500px 50px);
  -webkit-text-stroke: 5px #0072bb;
}

.modalImg {
  border-radius: 15px;
}
